<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.0" package="com.gummybearstudio.Timeinator" android:installLocation="auto" android:versionCode="20">
	<uses-sdk android:minSdkVersion="22" android:targetSdkVersion="27" />
	<uses-permission android:name="android.permission.INSTANT_APP_FOREGROUND_SERVICE" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<application android:label="Timeinator" android:icon="@mipmap/logo"></application>
</manifest>